apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-app
spec:
  replicas: 2  # Horizontal Scaling starts here
  selector:
    matchLabels:
      app: blog-app
  template:
    metadata:
      labels:
        app: blog-app
    spec:
      initContainers:
        - name: migrate
          image: blog-app:v1
          command: ["python", "manage.py", "migrate"]
          envFrom:
            - configMapRef:
                name: blog-config
            - secretRef:
                name: blog-secrets
      containers:
        - name: django
          image: blog-app:v1
          imagePullPolicy: Never # Uses local minikube image
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: blog-config
            - secretRef:
                name: blog-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: blog-service
spec:
  selector:
    app: blog-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: ClusterIP